<div class="container mt-5">
    <div class="row">
        <div class="col-lg-8 offset-lg-2">
            <div class="card">
                <div class="body">
                    <h1 class="title">Credit Card Vault</h1>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col-lg-6">
            <app-create-cc></app-create-cc>
        </div>  
        <div class="col-lg-6">
            <app-list-cc></app-list-cc>
        </div>
    </div> 
</div>